
.ef-sessions-text-default {
  color: yellow;
}

.ef-sessions-name {
  color: green;
}

.ef-sessions-details-header {
  background-color: blue;
}

.ef-sessions-summary {
  background-color: orange;
}

.ef-sessions-date-time {
  background-color: gray;
  color: yellow;
}
